
    .modal-content{
        padding: 20px;
    }
    .tb-item{
        width: 100%;
    }
    .tb-item td{
        padding: 5px 5px 5px 0px;
    }
    .tb-item th{
        color: black;
    }
    .tb-item .form-control{
        margin:  0;
    }
    .form-item{
        width: 100%;
        border: none;
        border-bottom: 1px solid #ccc;
        border-radius: 0px;
        height: 34px;
        padding: 10px;
    }
    div .modal .form-control{
        margin: 5px;
    }

    .border-right{
        border-right: 2px solid #ccc;
    }
    
    .card-form{
        background: white;
        width: 100%;
        padding: 20px;
        border-radius: 5px;
    }
    td{
        color: black;
        margin: 0px;
        text-align: left;
    }
    .kop{
        padding-bottom: 10px;
        border: none;
        border-bottom: 2px solid #ccc;
        margin-bottom: 15px;
    }
    label{
        color: black;
    }
    .btn-back{
        margin-top: 8px;
        width: 70px;
        color: white;
        background: #1f2b3c;
        border-color: #1f2b3c;
    }

    .btn-see{
        margin-top: 8px;
    }
    .table-section{
        background: white;
    }
    .table-container{
        background: white;
    }
    .tgl{
        padding-left:15px;
    }

    .clear-ac{
        clear:both;
        margin-top: 20px;
    }
    
    #autoSuggestionsList > li {
        background: none repeat scroll 0 0 #F3F3F3;
       /* border-bottom: 1px solid #E3E3E3; */
       list-style: none outside none;
          padding: 5px 15px 5px 15px;
       text-align: left;
   }
   
   #autoSuggestionsList > li:hover {
       background: none repeat scroll 0 0 lightgrey;
       color: black;
  }
  #autoSuggestionsLists > li {
        background: none repeat scroll 0 0 #F3F3F3;
       /* border-bottom: 1px solid #E3E3E3; */
       list-style: none outside none;
          padding: 5px 15px 5px 15px;
       text-align: left;
   }
   
   #autoSuggestionsLists > li:hover {
       background: none repeat scroll 0 0 lightgrey;
       color: black;
  }
   .auto_list {
       border: 1px solid #E3E3E3;
       /* border-radius: 5px 5px 5px 5px; */
       position: absolute;
       z-index: 1;
       width: 100%;
   }

