* { 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	*behavior: url(boxsizing.htc);
}

/* MAIN CONTAINER */
.container { 
	max-width: 1080px;
	margin: 0 auto; 
}
.container-wide { 
	max-width: 1200px;
	margin: 0 auto; 
}

/* SELF CLEARING FLOATS - CLEARFIX METHOD */
.container:after,
.container-wide:after,
.row:after, 
.col:after, 
.clr:after, 
.group:after { 
	content: ""; 
	display: table; 
	clear: both; 
}

/* DEFAULT ROW STYLES */
.row { padding-bottom: 0em;
}
								  
/* DEFAULT COLUMN STYLES */
.col { 
	display: block;
	float: left;
	width: 100%;
}
img {
	max-width: 100%;
	height: auto !important;
	vertical-align: middle;
}

@media ( min-width : 769px ) {
	
	.gutters > .col {
		margin-left: 2%;
	}
	.gutters-narrow > .col {
		margin-left: 1%;
	}
	.gutters-medium > .col {
		margin-left: 4%;
	}
	.gutters-wide > .col {
		margin-left: 6%;
	}
	.gutters .col:first-child,
	.gutters-narrow .col:first-child,
	.gutters-medium .col:first-child,
	.gutters-wide .col:first-child { 
		margin-left: 0; 
	}
	.phone-visible {
		display: none;
		visibility: hidden;
	}
}


/* COLUMN WIDTH ON DISPLAYS +800px */
@media ( min-width : 769px ) {
	.span_1 { width: 8.33333333333%; }
	.span_2 { width: 16.6666666667%; }
	.span_3 { width: 25%; }
	.span_4 { width: 33.3333333333%; }
	.span_5 { width: 41.6666666667%; }
	.span_6 { width: 50%; }
	.span_7 { width: 58.3333333333%; }
	.span_8 { width: 66.6666666667%; }
	.span_9 { width: 75%; }
	.span_10 { width: 83.3333333333%; }
	.span_11 { width: 91.6666666667%; }
	.span_12 { width: 100%; }
	
	.gutters > .span_1 { width: 6.5%; }
	.gutters > .span_2 { width: 15.0%; }
	.gutters > .span_3 { width: 23.5%; }
	.gutters > .span_4 { width: 32.0%; }
	.gutters > .span_5 { width: 40.5%; }
	.gutters > .span_6 { width: 49.0%; }
	.gutters > .span_7 { width: 57.5%; }
	.gutters > .span_8 { width: 66.0%; }
	.gutters > .span_9 { width: 74.5%; }
	.gutters > .span_10 { width: 83.0%; }
	.gutters > .span_11 { width: 91.5%; }
	.gutters > .span_12 { width: 100%; }

	.gutters-narrow > .span_1 { width: 7.4166666667%; }
	.gutters-narrow > .span_2 { width: 15.83333333333%; }
	.gutters-narrow > .span_3 { width: 24.25%; }
	.gutters-narrow > .span_4 { width: 32.6666666667%; }
	.gutters-narrow > .span_5 { width: 41.08333333335%; }
	.gutters-narrow > .span_6 { width: 49.5%; }
	.gutters-narrow > .span_7 { width: 57.91666666665%; }
	.gutters-narrow > .span_8 { width: 66.3333333333%; }
	.gutters-narrow > .span_9 { width: 74.75%; }
	.gutters-narrow > .span_10 { width: 83.16666666667%; }
	.gutters-narrow > .span_11 { width: 91.58333333333%; }
	.gutters-narrow > .span_12 { width: 100%; }

	.gutters-medium > .span_1 { width: 4.6666666667%; }
	.gutters-medium > .span_2 { width: 13.33333333333%; }
	.gutters-medium > .span_3 { width: 22%; }
	.gutters-medium > .span_4 { width: 30.6666666667%; }
	.gutters-medium > .span_5 { width: 39.33333333335%; }
	.gutters-medium > .span_6 { width: 48%; }
	.gutters-medium > .span_7 { width: 56.66666666665%; }
	.gutters-medium > .span_8 { width: 65.3333333333%; }
	.gutters-medium > .span_9 { width: 74%; }
	.gutters-medium > .span_10 { width: 82.66666666670%; }
	.gutters-medium > .span_11 { width: 91.33333333333%; }
	.gutters-medium > .span_12 { width: 100%; }

	.gutters-wide > .span_1 { width: 2.833333333333%; }
	.gutters-wide > .span_2 { width: 11.666666666667%; }
	.gutters-wide > .span_3 { width: 20.5%; }
	.gutters-wide > .span_4 { width: 29.333333333333%; }
	.gutters-wide > .span_5 { width: 38.166666666665%; }
	.gutters-wide > .span_6 { width: 47%; }
	.gutters-wide > .span_7 { width: 55.833333333335%; }
	.gutters-wide > .span_8 { width: 64.666666666667%; }
	.gutters-wide > .span_9 { width: 73.5%; }
	.gutters-wide > .span_10 { width: 82.333333333333%; }
	.gutters-wide > .span_11 { width: 91.166666666667%; }
	.gutters-wide > .span_12 { width: 100%; }
}

@media screen and (max-width : 768px) {
	.container-wide { 
		max-width: 91%;
		margin: 0 auto; 
	}
	.span_1,
	.span_2,
	.span_3,
	.span_4,
	.span_5,
	.span_6,
	.span_7,
	.span_8,
	.span_9,
	.span_10,
	.span_11,
	.span_12,
	
	.gutters .span_1,
	.gutters .span_2,
	.gutters .span_3,
	.gutters .span_4,
	.gutters .span_5,
	.gutters .span_6,
	.gutters .span_7,
	.gutters .span_8,
	.gutters .span_9,
	.gutters .span_10,
	.gutters .span_11,
	.gutters .span_12,

	.gutters-narrow .span_1,
	.gutters-narrow .span_2,
	.gutters-narrow .span_3,
	.gutters-narrow .span_4,
	.gutters-narrow .span_5,
	.gutters-narrow .span_6,
	.gutters-narrow .span_7,
	.gutters-narrow .span_8,
	.gutters-narrow .span_9,
	.gutters-narrow .span_10,
	.gutters-narrow .span_11,
	.gutters-narrow .span_12,

	.gutters-medium .span_1,
	.gutters-medium .span_2,
	.gutters-medium .span_3,
	.gutters-medium .span_4,
	.gutters-medium .span_5,
	.gutters-medium .span_6,
	.gutters-medium .span_7,
	.gutters-medium .span_8,
	.gutters-medium .span_9,
	.gutters-medium .span_10,
	.gutters-medium .span_11,
	.gutters-medium .span_12,

	.gutters-wide .span_1,
	.gutters-wide .span_2,
	.gutters-wide .span_3,
	.gutters-wide .span_4,
	.gutters-wide .span_5,
	.gutters-wide .span_6,
	.gutters-wide .span_7,
	.gutters-wide .span_8,
	.gutters-wide .span_9,
	.gutters-wide .span_10,
	.gutters-wide .span_11,
	.gutters-wide .span_12 {
		text-align: center;
	}
	.phone-hidden {
		display: none !important;
		visibility: hidden;
	}
}